.section-nav {
  display:flex;
  justify-content: center; 
  border-bottom: 1px solid $light-gray;
}

.section-nav ul {
  display: flex;
  padding: 10px 0; 
}

.section-nav ul li {
  margin: 0 10px; 
  cursor: pointer; 
}

.section-nav ul li:hover {

  background: $light-gray;
}